In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
words = pd.read_csv('5_letters.csv')

In [4]:
words['word'] = words['1']+words['2']+words['3']+words['4']+words['5']
words.head()

   1  2  3  4  5   word
0  a  b  a  c  k  aback
1  a  b  a  s  e  abase
2  a  b  a  t  e  abate
3  a  b  a  y  a  abaya
4  a  b  b  e  y  abbey

In [14]:
def vowelCount(word):
    vowels = {'a':0, 'e':0, 'i':0, 'o':0, 'u':0}
    for char in word:
        if char in vowels.keys():
            vowels[char] = 1
    return sum(vowels.values())

In [15]:
words['uniqueVowels'] = words['word'].apply(vowelCount)

In [16]:
words.head()

   1  2  3  4  5   word  uniqueVowels
0  a  b  a  c  k  aback             1
1  a  b  a  s  e  abase             2
2  a  b  a  t  e  abate             2
3  a  b  a  y  a  abaya             1
4  a  b  b  e  y  abbey             2

In [18]:
words[words['uniqueVowels'] == 4]

     1  2  3  4  5   word  uniqueVowels
34   a  d  i  e  u  adieu             4
208  a  u  d  i  o  audio             4

In [40]:
# Count of the most common vowels

letterOne = words['1'].value_counts().loc[['a','e','i','o','u']]
letterTwo = words['2'].value_counts().loc[['a','e','i','o','u']]
letterThree = words['3'].value_counts().loc[['a','e','i','o','u']]
letterFour = words['4'].value_counts().loc[['a','e','i','o','u']]
letterFive = words['5'].value_counts().loc[['a','e','i','o','u']]

letterOne+letterTwo+letterThree+letterFour+letterFive

a    1115
e    1416
i     675
o     827
u     396
dtype: int64